body {
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    line-height: 1;
    display: flex;
  }
.jumbotron {
  background-color: blue;
  color: white;
}
  .card-title {
    background-color: blue;
    color: white;

  }

  .form-group {
    align-content: stretch;
  }

  .btn-secondary {
    display: grid;
  }