body {
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
  }
.jumbotron {
  background-color: blue;
  color: white;
}
  .card-title {
    background-color: blue;
    color: white;

  }

  .form-group {

  }

  .btn-secondary {

  }